@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

:root {
  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);

  --White: hsl(0, 0%, 100%);
  --Dark-desaturated-blue: hsl(236, 21%, 26%);
  --Very-dark-blue: hsl(235, 16%, 14%);
  --Very-dark-mostly-black-blue: hsl(234, 17%, 12%);
}

.red-hat-text-700 {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  background-color: var(--Very-dark-blue);
  /* grid-template-columns: 1fr 200px; */
  grid-template-rows: 1fr 12rem;
  /* grid-auto-rows: max-content; */
  /* grid-template-columns: max-content; */
  /* place-content: safe center; */
  /* background: url("/images/pattern-hills.svg") no-repeat bottom right 0.4rem /
      cover,
    url("/images/bg-stars.svg") no-repeat top var(--Very-dark-blue); */
  /* object-fit: fill; */
}
main {
  display: grid;
  /* height: 100%; */
  place-items: center;
  grid-row: 1;
  background: url("/images/bg-stars.svg") no-repeat top var(--Very-dark-blue);
}
main > img {
  grid-row: 1;
  grid-column: 1 / -1;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 1;
  grid-column: 1 / -1;
  /* Mobile */
  /* gap: 3.5rem; */
  /* Desktop */
  gap: 6.5rem;
}
.content > h1 {
  color: var(--White);
  /* Mobile */
  /* font-size: 1.2rem; */
  /* letter-spacing: 0.35rem; */
  /* word-spacing: 0.1rem; */
  /* text-align: center; */
  /* width: 25ch; */
  /* line-height: 1.2; */
  /* Desktop */
  font-size: 1.45rem;
  letter-spacing: 0.4rem;
  word-spacing: 0.1rem;
  text-align: center;
  width: 50ch;
  line-height: 1.2;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer {
  display: grid;
  place-items: center;
  grid-row: 2;
  background: url("/images/pattern-hills.svg") repeat-x bottom right -4rem / cover;
  /* background-size: cover; */
}
footer > img {
  grid-row: 1;
  grid-column: 1 / -1;
}
.icons {
  display: flex;
  grid-row: 1;
  grid-column: 1 / -1;
  /* mobile */
  gap: 2rem;
}

.left-circle {
  content: "";
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--Very-dark-blue);
  top: 0;
  bottom: 0;
  left: -0.25rem;
  right: 0;
  z-index: 88;
  margin-block: auto;
  overflow: visible;
}

.right-circle {
  content: "";
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--Very-dark-blue);
  top: 0;
  bottom: 0;
  right: -0.25rem;
  margin-block: auto;
  z-index: 1;
  overflow: visible;
}
.timer {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  border: 0;
}
.display-timer {
  position: relative;
  /* Mobile */
  /* width: 4.35rem; */
  /* height: 4.15rem; */
  /* Desktop */
  width: 9.4rem;
  height: 8.7rem;
  border: 0;
  background-color: var(--Dark-desaturated-blue);
  /* z-index: -3; */
  /* background-color: transparent; */
  border-radius: 0.2rem;
  overflow: hidden;
  /* border: 3px solid var(--Very-dark-blue); */
}
.time-frame {
  color: var(--Grayish-blue);
  /* Mobile */
  font-size: 0.47rem;
  letter-spacing: 0.15rem;
}
.day-number {
  /* Mobile */
  /* font-size: 2.2rem; */
  /* Desktop */
  font-size: 5rem;
  width: max-content;
  max-height: max-content;
  height: max-content;
  margin-block: 0;
  /* padding: 1rem; */
  border: 0;
  color: var(--Soft-red);
  /* background-color: var(--Dark-desaturated-blue); */
  /* position: absolute; */
  /* z-index: 0; */
}

.top-number {
  content: "";
  position: absolute;
  margin-inline: auto;
  /* Mobile */
  top: 0.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  /* DEsktop */
  /* top: 2rem; */
  /* bottom: 0; */
  /* left: 0; */
  /* right: 0; */
}

.bottom-number {
  content: "";
  position: absolute;
  margin-inline: auto;
  overflow: hidden;
  /* Mobile */
  /* top: -1.7rem; */
  /* bottom: 0; */
  /* left: 0; */
  /* right: 0; */
  /* Desktop */
  top: -3.8rem;
  bottom: 0;
  left: 0;
  right: 0;
}
.top-half {
  /* content: "";
  position: absolute;
  top: 0;
  left: 0; */
  position: relative;
  width: 100%;
  height: 50%;
  /* border: 1px solid hsl(from var(--Very-dark-blue) h s l / 0.5); */
  /* background-color: var(--Dark-desaturated-blue); */
  /* background-color: red; */
  z-index: 1;
  overflow: hidden;
}
.bottom-half {
  /* content: "";
  position: absolute;
  bottom: 0;
  left: 0; */
  position: relative;
  width: 100%;
  height: 50%;
  /* z-index: -1; */
  border-top: 1px solid hsl(from var(--Very-dark-mostly-black-blue) h s l / 0.5);
  /* background-color: blue; */
  /* background-color: var(--Dark-desaturated-blue); */
  /* background-color: red; */
  z-index: 0;
  box-shadow: inset 0 7px 9px -14px var(--White);
  overflow: hidden;
}

.top-half:hover {
  cursor: pointer;
  /* z-index: 1; */
  /* transform: rotateX(180deg) perspective(700px); */
  backface-visibility: visible;
  /* backface-visibility: hidden; */
  transform: rotateX(-360deg);
  transform-origin: bottom;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.bottom-half:hover {
  backface-visibility: visible;
  transform: rotateX(-360deg);
  transform-origin: top;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  /* z-index: 3; */
}

.timer-container {
  display: flex;
  /* Mobile */
  /* gap: 1rem; */
  /* Desktop */
  gap: 2rem;
}

@media (min-width: 30rem) {
  body {
    /* background: url("/images/pattern-hills.svg") no-repeat bottom / contain
      url("/images/bg-stars.svg") no-repeat top var(--Very-dark-blue); */
  }

  footer {
    background: url("/images/pattern-hills.svg") repeat-x bottom / contain;
  }
}
